# NPM Configuration for text2datauri

# Enforce engine requirements
engine-strict=true

# Always use https for registry
registry=https://registry.npmjs.org/

# Timeout settings (1 min v 5 min)
fetch-timeout=60000
